streamlit==1.48.0         #all the package currently installed for smooth running of app are in file "p_environment"
requests>=2.32.0
pandas==2.3.1
matplotlib==3.10.5
beautifulsoup4==4.12.3
webcolors==1.11.1
reportlab==4.4.3          # for PDF export; keep if you use PDF download
openai==1.99.1            # keep only if GPT summaries are enabled
pillow==11.3.0            # if you use export_utils.py to render swatch PNGs
streamlit_js_eval==0.1.5
